#cloud-config
users:
  - default
  - name: ${vm_user}
    groups: [sudo]
    shell: /bin/bash
    sudo: "ALL=(ALL) NOPASSWD:ALL"
    lock_passwd: true
    ssh_authorized_keys:
      - ${ssh_public_key}

disable_root: true
ssh_pwauth: false
package_update: false
package_upgrade: false

write_files:
  - path: /etc/future20-environment
    permissions: "0644"
    content: |
      managed_by=terraform
      purpose=study

